{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row p-5">
		<div class="col">
		<h1 class="myhead2">Login</h1>
		<hr>
		</div>
</div>
	<div class ="row justify-content-center">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<form method="post" novalidate>
						{% csrf_token %}
						{{form | crispy}}<br>
						<input class="btn btn-primary" type="submit" />
						<a class="btn btn-success" href="/accounts/register/">Register</a>
						<a class="btn btn-danger" href="/accounts/password/reset/">Reset password</a>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
